{% extends "base.html" %}
{% block content %}
<h1>Run history</h1>
<div class="table-scroll">
<table border="1" cellpadding="4">
  <tr><th scope="col">Started</th><th scope="col">Finished</th><th scope="col">New jobs</th><th scope="col">Failed sources</th></tr>
  {% for run in runs %}
  <tr>
    <td>{{ run.started_at }}</td>
    <td>{{ run.finished_at or "in progress" }}</td>
    <td>{{ run.new_job_count }}</td>
    <td>{{ run.failed_sources | join(", ") }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
